:root {
  --color-brand: #004789;
  --color-white: whitesmoke;
}

body {
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
}

.app-container {
  width: 100%;
}

/* Navbar
 ----------------------------- */
.navbar-container {
  width: 100%;
  height: 14vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99999;
}

.navbar-top {
  background-color: #e1f0ff;
  width: 100%;
  height: 90%;
  position: relative;
}

.navbar-bottom {
  background-color: var(--color-brand);
  width: 100%;
  height: 7%;
  bottom: 0px;
}

.logo {
  max-height: 60%;
  max-width: 30%;
  min-height: 45px;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 1.5%;
  position: absolute;
}

.navbar-button {
  border-radius: 20px;
  background-color: var(--color-brand);
  min-height: 40px;
  height: 40%;
  min-width: 75px;
  max-width: 200px;
  width: 30%;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
  position: absolute;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-button > span{
  margin: 20px;
}

/* Flexboxes
 ----------------------------- */

.flex-container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  height: fit-content;
}

.top-container{
  height: 600px;
  flex-flow: wrap-reverse;
  margin-bottom: 5vw;
}

.bottom-conatainer{
  margin-bottom: 50px;
}

.flex-item {
  position: relative;
}

.flex-item-large {
  width: 60%;
}

.flex-item-small{
  width: 40%;
}


/* 1st Main Flex Container
 ----------------------------- */

.main-img {
  height: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.main-description{
  height: 22.5;
  min-width: 300px;
  position: relative;
  padding: 20px;
}

.main-description h1 {
  font-family: "Roboto", sans-serif;;
  font-size: 3em;
  font: weight 400px;
  margin-bottom:0;
}

.main-description h3 {
  font-family: "Archivo";
  font-size: 1.2em;
  margin-top: 5px;
}

.main-description p {
  font-family: "Archivo";
  font-size: 1em;
  margin-top: 5px;
}

.main-button {
  background-color: var(--color-brand);
  border-radius: 1.2vh;
  height: 5vh;
  line-height: 5vh;
  width: 90%;
  margin-top: 30px;
  margin-left: 1.5vw;
  position: relative;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  color: var(--color-white);
}

.link-png {
  max-height: 65%;
  max-width:  40px;
  margin-left: 12px;
  vertical-align: middle;
}

.link-text{
  margin-left: .8vw;
}

/* 2nd Main Flex Container
 ----------------------------- */

.available-services-title{
  text-align: center;
  font-family: "Roboto", sans-serif;;
  font-size: 2.5em;
  margin: 10px;
  font: weight 400;
  width: 95%;
  justify-content: space-around;
}

.available-services-container{
  display: flex;
  flex-flow: wrap;
  justify-content: right;
  padding: 0;
  margin-top: 2.5%;
  list-style-type: none;
  width: 100%;
  height: max-content;
}

.available-services-item { 
  width: 45%;
  max-width: 375px;
  min-width: 200px;
  margin-top: 2vw;
  cursor: pointer;
}

.available-services-sub-item-title{
  font-family: "Archivo";
  margin: 10px;
  font-size: 1.7em;
  text-decoration: none;
  color: var(--color-brand);
}

.available-services-sub-item { 
  font-family: "Archivo";
  list-style-type: none;
  margin: 10px ;
  font-size: .8em;
  height: inherit;
  margin-top: 1vw;
}

/* Slideshow */
.slideshow {
  margin: 5% auto;
  overflow: hidden;
  max-width: 90%;
  text-align: center;
}

.slideshowTitle{
  font-family: "Archivo";
  margin: 10px;
  font-size: 1.5em;
  margin-bottom: 20px;
  text-decoration: underline;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  width: 100%;
  border-radius: 40px;
}

/* Slideshow Buttons */
.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: var(--color-brand);
}



/* Responsive
 ----------------------------- */
 @media screen and (max-width: 1150px) {
  .slideshow {
    margin: 25% auto;
    overflow: hidden;
    height: fit-content;
  }
}
 @media screen and (max-width: 800px) {
  .flex-container{
    height: fit-content;
  }
  .main-img-container {
    height: 55vh;
    min-height: 450px;
  }
  .flex-item-large {
    width: 100%;
  }
  .flex-item-small{
    width: 100%;
  }
  .main-description h1 {
    font-size: 2.6em;
  }
  .main-description h3 {
    font-size: 1.2em;
  }
  .main-description p {
    font-size: 1em;
    margin: 0;
  }
  .main-description{
    height: 40;
    min-width: 200px;
    position: relative;
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-description h1 {
    margin-top: 0;
  }
  .main-button {
    height: 38px;
    line-height: 38px;
    width: 90%;
    margin: 15px;
  }
  .link-png {
    max-width:  30px;
  }
  .link-text{
    margin-left: 10px;
  }

  .app-container{
    min-width: 320px;
  }
  .slideshow {
    margin: 5% auto;
    margin-bottom: 75px;
    width: 80%;
    max-width: 425px;
    height: fit-content;
  }
  .available-services-container{
    justify-content: space-around;
  }
  .available-services-item{
    max-width: none;
    width: 90%;
  }
  .available-services-title{
    font-size: 2.5em;
    margin: 5px;
  }
  .available-services-sub-item-title{
    font-size: 1.6em;
  }
  .available-services-sub-item { 
    font-size: 1em;
    margin-top: 15px;
  }
  .top-container{
    margin-bottom: 0;
  }
}
